@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');


.wrapper div{
    border: 2px black solid;
    border-radius: 20px;
}

.wrapper{
    width: 600px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(50px, auto);
    /* border: 2px black solid;
    border-radius: 20px; */
    /* background-image: url(board.png);
    background-size: 600px 600px; */

}
.wrapper-second{
    display: grid;
    justify-items: center;
    margin-top: 20px;

    font-family: 'Finger Paint', cursive;
    font-size: 25px;
}

.wrapper-third{
    display: grid;
    justify-items: center;
}

.turn-x{
    grid-column: 1/2;
    grid-row: 1/1;

    border: 2px solid black;
    border-radius: 20px;

    padding: 2%;

    /* because xis always the first turn
    and this is the idication of the turn by default */
    background-color: #C1C1C1;
}

.turn-o{
    grid-column: 2/2;
    grid-row: 1/1;

    border: 2px solid black;
    border-radius: 20px;

    padding: 2%;
}


