@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');


.wrapper div{
    border: 2px black solid;
}

.wrapper{
    width: 600px;
    height: 600px;
    margin: auto;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(50px, auto);
    border: 2px black solid;
}
.wrapper-second{
    display: grid;
    justify-items: center;

    font-family: 'Finger Paint', cursive;
    font-size: 25px;
}



